body{
    align-items: center;
    justify-content: center;
    display: flex;   
    background-image: linear-gradient(rgb(143, 207, 199), rgb(51, 104, 134), rgb(39, 79, 124));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

form{
    border: solid black;
    padding: 20px;
    border-radius: 7%;
    box-shadow: 7px 5px 10px #384661;
    margin: 50px 0;
    backdrop-filter: blur(3px);
}

legend{
    text-align: center;
    font-size: 25px;
}
 
fieldset{
    border-color: gray;
    font-style: oblique;
}